<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" type="text/css" href="..\css\about.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
</head>
<html>
    <body>
        <div class="container">
            <h1 class="header">Lunch By George</h1>
            <div class="row" style="padding-top:40px;">
                <div class="info" style="margin:auto;top:50%;">
                    <div class="image-text inner">
                        <h1>What We Do</h1>
                        <p>Lunch by George normally serves 40-50 people per day, 
                        with an occasional 'spike' to the 60-70 range and over 100 
                        at our Christmas meal. The program operates five days a week, 
                        opening at 9:00 a.m. with coffee and snacks and serving soup 
                        at 10:00 a.m. and a hot nutritious lunch at 11:00 a.m.. Normally 
                        the dishes are done and the kitchen cleaned up before noon, 
                        which leaves the hall available for other groups in the afternoon.</p>
                    </div>
                    <div class="inner"><img class="image-overlay" src="media/pic1.jpg"></div>
                </div>
                <br>
                <div class="info" style="flex-direction:row-reverse;">
                    <div class="image-text inner">
                        <h1>Why We Do It</h1>
                        <p> Many of the patrons have some form of disability - mental or physical 
                        - which prevents them from working. Many of these patrons have been coming
                         for a number of years. Lunch by George is their social centre; they know
                          each other and care for each other. A few are elderly and in poor 
                          circumstances.</p>

                        <p> A survey done several years ago showed that most were on disability,
                         pension or welfare assistance, with rents consuming 30 to 50% of their
                          incomes. Many have no cooking facilities - maybe just a hotplate - and 
                          limited opportunity to cook in a functional kitchen. Yet other patrons 
                          are only temporary: they are those who are employable but are having 
                          difficulty finding work. They use our services until their status improves 
                          or they move to another community with better employment prospects.</p>
                    </div>
                    <div class="inner"><img class="image-overlay" src="media/pic3.jpg" style="width: 120%"></div>
                </div>
                <div class="info">
                    <div class="image-text inner">
                        <h1>Our Impact</h1>
                        <p> Over the last two or three years the numbers attending the Lunch 
                        Program have been gradually increasing - due to cutbacks in support 
                        programs for the poor and fewer employment opportunities. We are glad 
                        that we can keep the kitchen open five days a week, fifty-one weeks of
                         the year, to help support folks in need.</p>
                    </div>
                    <div class="inner"><img class="image-overlay" src="media/pic2.jpg"></div>
                </div>
            </div>
            <div class="container" style="padding-top: 100px;">
            <h1 class="header" style="font-size:60px;">Board of Directors</h1>
                <div class="row">
                    <div class="col person">
                        <img class="headshot" src="media/headshot.jpg">
                        <p class="text-info"><b>CO-CHAIRS:</b> AVELEIGH KYLE</p>
                    </div>
                    <div class="col person">
                        <img class="headshot" src="media/headshot.jpg">
                        <p class="text-info"><b>CO-CHAIRS:</b> PETER GOWER</p>
                    </div>
                    <div class="col person">
                        <img class="headshot" src="media/headshot.jpg">
                        <p class="text-info"><b>SECRETARY:</b> TANIS FAIRLEY</p>
                    </div>
                    <div class="col person">
                        <img class="headshot" src="media/headshot.jpg">
                        <p class="text-info"><b>TREASURER:</b> GEORGE BOLAND</p>
                    </div>
                </div>
                <h1 class="header">General Members</h1>
                <div class="row">
                    <div class="col person">
                        <img class="headshot-member" src="media/headshot.jpg">
                        <p class="text-info">THEO BRUCE</p>
                    </div>
                    <div class="col person">
                        <img class="headshot-member" src="media/headshot.jpg">
                        <p class="text-info">GILL CLEGHORN</p>
                    </div>
                    <div class="col person">
                        <img class="headshot-member" src="media/headshot.jpg">
                        <p class="text-info">DAVID GORDON</p>
                    </div>
                    <div class="col person">
                        <img class="headshot-member" src="media/headshot.jpg">
                        <p class="text-info">BILL LENNOX</p>
                    </div>
                    <div class="col person">
                        <img class="headshot-member" src="media/headshot.jpg">
                        <p class="text-info">LINDA MORGAN</p>
                    </div>
                </div>
            </div>
        </div>
     </body>
</html> 