@import "./stylesheet.scss";


.Container{
   
    .headingContainer {
        margin: 5% 0 5% 0;
        padding-left: 27%;
        width:60%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    .logo {
        padding:3px;
        background-color: $primary-yellow;
    }
	.headingInfo {
        margin-left:30px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
		line-height: 0.5vw;
		h1 {
            align-self: center;
            font-family:"Nanum Gothic";
			font-size: 4em;
		}
		h2 {
            margin-left:16%;
            align-self: flex-end;
            font-family:"Geneva";
			font-size: 1.2vw;
		}
    }
}
	.navContainer {
		display: block;
        background-color: $accent-blue;
        opacity:90%;
        width: 100%;
        
		nav {
			display: flex;
			justify-content: space-evenly;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 3vh;
			align-items: center;
			font-family: "Courier New";
			color: $primary-font-colour;
			padding: 0 120px 0 120px;
        }
        
		.home, .about, .contact, .partners, .volunteer {
			padding: 20px 0 20px 0;
            list-style: none;
            @include navItems;
			.home {
				align-self: flex-start;
            }
            
			.contact {
				align-self: flex-end;
            }
         
        }

        .home:hover, .about:hover, .contact:hover, .partners:hover, .volunteer:hover{
            color:$primary-yellow;
        }

    }
    @media only screen and (max-width: 415px) { 
        .headingContainer {
            
            width:60%;
            display:flex;
            flex-direction: row;
            align-items: center;
    
        .logo {
            width:40%;
            background-color: $primary-yellow;
        }
        .headingInfo {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            word-break:break-word;
            justify-content: left;
           
            h1 {
                align-self: flex-start;
                font-family:"Nanum Gothic";
                font-size: 5vw;
                line-height: 6vw;
            }
            h2 {
                line-height: 3vw;
                margin-left:16%;
                align-self: flex-start;
                font-family:"Geneva";
                font-size: 2vw;
            }
        }
    }           

        .navContainer {
            nav {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-wrap: wrap;
                font-size: 2vh;
                align-items: center;
                font-family: "Courier New";
                height:10vh;
                color: $primary-font-colour;
                padding: 0 0px 0 0px;
            } 
            .home, .about, .contact, .partners, .volunteer {
                padding: 10px 5px 10px 5px;
                list-style: none;
                @include navItems;
                .home {
                    align-self: flex-start;
                }
                
                .contact {
                    align-self: flex-end;
                }
             
            }
          
        }

    
  

}
}


