@import "./stylesheet.scss";

.Container{
   
    .headingContainer {
        margin: 30px 0 30px 0;
        padding-left: 27%;
        width:60%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    .logo {
        padding:3px;
        background-color: $primary-yellow;
    }
	.headingInfo {
        margin-left:30px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
		line-height: 0.5vw;
		h1 {
            align-self: center;
            font-family:"Nanum Gothic";
			font-size: 4em;
		}
		h2 {
            margin-left:16%;
            align-self: flex-end;
            font-family:"Geneva";
			font-size: 1.2vw;
		}
    }
}
	.navContainer {
		display: block;
        background-color: $accent-blue;
        opacity:90%;
        width: 100%;
        
		nav {
			display: flex;
			justify-content: space-evenly;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 3vh;
			align-items: center;
			font-family: "Courier New";
			color: $primary-font-colour;
			padding: 0 120px 0 120px;
        }
        
		.home, .about, .contact, .partners, .volunteer {
			padding: 20px 0 20px 0;
            list-style: none;
            @include navItems;
			.home {
				align-self: flex-start;
            }
            
			.contact {
				align-self: flex-end;
            }
         
        }

        .home:hover, .about:hover, .contact:hover, .partners:hover, .volunteer:hover{
            color:$primary-yellow;
        }

	}
}

